body {
  background-color:black ;

  background-size: 100%;
  background-position:center;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
  }